<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>Document</title>
</head>

<th:block th:replace="~{fragments/fragment :: navbar}">

</th:block>

<body>
    <h1 th:text=" 'the besty movies is' "> </h1>

    <th:block th:each="movie : ${media}">


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${movie.titolo}"></h5>
                <p class="card-text" th:text="${'Director by' + movie.director}"></p>
                <a th:href="${'http://localhost:8080/movies/'+ movie.id }" class="card-link">Card link</a>

            </div>
        </div>

    </th:block>


</body>

</html>